@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/* Styling navigation bar */


* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    margin: 0px;
    background-color: #E6F4F1;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
}

.nav-bar-container {
    background-color: #001111;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: #3330D9 2px solid;
}

.nav-bar-logo {
    padding: 15px;
}

.nav-bar-tabs {
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
    padding: 5px;
}

.nav-bar-tab-item {
    list-style: none;
    display: inline;
    padding: 10px;
    margin: 5px;
}

.nav-link {
    text-decoration: none;
    color: #FFCC00;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}

.nav-link:hover {
    border-bottom: 3px solid red;
    margin: 5px;
    transition: 0.5s;
}

.dropdown {
    margin-top: 0px;
    float: right;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    font-size: 18px;
    font-family: 'Amatic SC', cursive;
    background-color: #fff;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #FFCC07;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.to-home {
    font-size: 40px;
    font-weight: 900;
    color: #3330D9;
}

.text-a {
    color: #CF4E74;
}

.to-home:hover {
    cursor: pointer;
}

#article {
    margin: 0px 60px 70px 60px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#heading {
    padding: 30px 0 0 30px;
}

#author {
    margin: -15px 0 20px 30px;
}

#header {
    margin-bottom: 20px;
}

.content {
    font-size: 18px;
    padding: 0px 30px 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

hr {
    margin-top: 30px;
}

h2 {
    padding: 10px 0 0 30px;
}

.topic {
    display: inline-block;
    width: 100%;
}

.content-img {
    width: 50%;
    height: 50%;
    float: right;
    margin-right: 2%;
    margin-left: 2%;
}

.topic .content {
    width: 50%;
}

.reference {
    padding: 0px 30px 0 30px;
}


footer {
    background-color: #001111;
    padding: 20px;
    border-top: #3330D9 2px solid;
    position: relative;
    color: #BDBDBD;
    margin-top: -50px;
    clear: both;
}

.footerupper {
    display: flex;
}

.footerupper div {
    width: 33.3%;
    height: 35vh;
}

.left p {
    margin: 0;
}

.left label {
    color: #fffef1;
}

.left select {
    background-color: rgba(255, 255, 255, 0.671);
    text-align: center;
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 100px;
}

.mid {
    display: flex;
}

.mid-left p {
    height: 100%;
}

.mid-left a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    color: #BDBDBD;
}

.mid-left a:hover {
    text-decoration: underline;
    color: #23A6D5;
    transition: 0.7s;
    cursor: pointer;
}

.mid-center span:hover {
    text-decoration: underline;
    color: #23A6D5;
    transition: 0.7s;
    cursor: pointer;
}

.mid-right .btn:hover {
    text-decoration: underline;
    color: #23A6D5;
    transition: 0.7s;
    cursor: pointer;
}

.mid-right .title {
    color: #4e6179cc;
}

.right h1 {
    color: #4e6179cc;
    text-align: center;
}

.right form {
    width: 270px;
    margin: 0 auto;
}

.right form input {
    float: right;
    background-color: #BDBDBD;
    border: #001111 1px solid;
    border-radius: 5px;
}

.right form #btn {
    background-color: transparent;
    width: 75px;
    height: 25px;
    color: #23A6D5;
    border: #23A6D5 1px solid;
    float: none;
    margin: 0 97px;
    margin-top: 15px;
    transition: 0.7s;
}

.right form #btn:hover {
    color: #000;
    background-color: #23A6D5;
    transition: 0.7s;
}

.footerbelow p {
    text-align: left;
    border-top: #BDBDBD 1.5px solid;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px 0 0 5px;
}

.footerbelow a {
    text-decoration: none;
    color: #BDBDBD;
    font-size: 25px;
    padding: 5px;
    margin-bottom: 5px;
    float: right;
    transition: 1.5s;
}

.footerbelow span {
    color: #ffffff;
}

.footerbelow span:hover {
    color: #23A6D5;
    text-decoration: underline;
    transition: 0.7s;
    cursor: pointer;
}

#pageEditor:hover {
    color: #3330D9;
    transition: 1.5s;
    transform: rotateZ(360deg);
}

#backtotop:hover {
    color: #fffef1;
    transition: 1.5s;
    transform: rotateZ(360deg);
}

#fb:hover {
    color: rgb(53, 83, 152);
    transition: 1.5s;
    transform: rotateZ(360deg);
}

#linkedin:hover {
    color: rgb(0, 119, 181);
    transition: 1.5s;
    transform: rotateZ(360deg);
}

#tweet:hover {
    color: rgb(0, 172, 238);
    transition: 1.5s;
    transform: rotateZ(360deg);
}

#Youtube:hover {
    color: rgb(196, 48, 43);
    transition: 1.5s;
    transform: rotateZ(360deg);
}