@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #636871;

    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 300px;
    height: 550px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
}

.main {
    height: 150px;
    background: #5FFBF1;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(100px, 100px);
}

#thiranya {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sub-main {
    height: 400px;
    background: white;
    padding: 20px;
    padding-top: 40px;
}

h2,
h4 {
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

h4 {
    color: #e74c3c;
    font-weight: bold;
}

li {
    font-size: 16px;
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: left;
}